:root {
    --main-color: rgb(245, 223, 163);
    --border-input: rgb(149, 149, 149);
}

body {
    background-color: var(--main-color);
    font-size: 18px;
    font-family: 'Jost', sans-serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

form {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 2rem;
    align-items: center;
    border-radius: 15px;
    background-color: #f5f5f6;
    box-shadow: 5px 5px 10px #9f9e9e;
    padding: 3rem;
    margin: 0 auto;
}

input[type=text] {
    border-radius: 10px;
    border: 2px solid var(--border-input);
    padding: 0.5rem;
}

input[type=number] {
    border-radius: 10px;
    border: 2px solid var(--border-input);
    padding: 0.5rem;
    width: 47%;
}

.sex label {
    margin-right: 2rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #909090;
    border-radius: 100%;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #96dd81;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#cv {
    width: 350px;
    cursor: pointer;
}

#cv::-webkit-file-upload-button {
    visibility: hidden;
}

#cv::before {
    content: "Выбрать файл";
    text-align: center;
    display: inline-block;
    /* border: 2px solid var(--border-input); */
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#cv:hover::before {
    background-color: rgb(249, 244, 229);
}

.required:invalid, #cv:invalid::before {
    border: 2px solid #de7070;
    border-radius: 10px;
}

.required:valid, #cv:valid::before {
    border: 2px solid #96dd81;
    border-radius: 10px;
}

textarea:focus,
.required:focus {
    background-color: rgb(249, 244, 229);
    border: 2px solid var(--border-input);
    border-radius: 10px;
    outline: none;
}

textarea {
    border-radius: 10px;
    border: 2px solid var(--border-input);
    padding: 0.5rem;
    resize: none;
}

#about-yourself {
    font-size: 1rem;
}

#approve-personal-data {
    font-size: 0.8rem;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 350px;
    left: 0;
    top: 0;
    background: #f8f6e0;
    color: var(--border-input);
    padding: 0.5em;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}

#reset {
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 47%;
    cursor: pointer;
    background-color: rgb(212, 212, 222);
    transition: background-color 0.5s ease;
}

#submit {
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 30%;
    cursor: pointer;
    justify-self: end;
    background-color: rgb(212, 212, 222);
    transition: background-color 0.5s ease;
}

#reset:hover, #submit:hover {
    background-color: var(--main-color);
}

#reset:active, #submit:active {
    background-color: rgb(231, 209, 149);
    box-shadow: inset 0px 0px 6px 0px rgb(220, 193, 117);
}

.succeed {
    width: 60%;
    padding: 3rem;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    background-color: #f5f5f6;
    box-shadow: 5px 5px 10px #9f9e9e;
}

.succeed h1 {
    font-size: 2.2rem;
    margin-top: -0.8rem;
}

.succeed a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #585555;
}